#race {
  text-align: center;
  background-color: #242021;
}

h1,
h2,
h3,
td {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}
h4, .result {
  font-weight: 900;
  font-size: 18px;
}

.race-track {
  height: 350px;
  background-image: url(./img/raceTrack.jpg);
  background-position: center;
  background-size: contain;
  position: relative;
}

#car1,
#car2 {
  height: 200px;
  width: 300px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#car1 {
  background-image: url(./img/car2.gif);
  top: 0;
  left: 0;
}
#car2 {
  background-image: url(./img/car1.gif);
  bottom: 0;
  left: 0;
}

.white {
  color: #ffebf7;
}

.red {
  color: #ba0000;
}

.count, .end {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #00000091;
  display: none;
}
.count p {
  font-size: 100px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.end img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*use these below*/
/*car1 color*/
/*color: #ffebf7;*/

/*car2 color*/
/*color: #ba0000;*/
